<div id="<%= dom_id assignment %>">
  <p>
    <strong>Assignment name:</strong>
    <%= assignment.assignment_name %>
  </p>

  <p>
    <strong>Repository name:</strong>
    <%= assignment.repository_name %>
  </p>

</div>
