<div id="<%= dom_id assignment %>" class="assignment-item">
  <p>
    <strong>Assignment Name:</strong> 
    <span class="assignment-name"><%= assignment.assignment_name %></span>
  </p>
  
  <p>
    <strong>Repository Name:</strong> 
    <span class="repository-name"><%= assignment.repository_name %></span>
  </p>
</div>
