<div class="form-group mb-3">
  <input type="text" id="main_path" name="test[main_path]" class="form-control" placeholder="Enter Main Path">
</div>
<div class="form-group mt-5">
  <input type="text" id="source_paths" name="test[source_paths]" class="form-control" placeholder="Enter Source Paths">
</div>