<div class="file-tree-container">
        <h4>File Tree for <strong>/tests</strong> folder <span style="cursor: pointer; color: blue;" onclick="toggleTree()"></span></h4>
        <div id="fileTreeContainer">
          <%= render_file_tree(@directory_structure) %>
        </div>
      </div>
      


      <script>
      const assignmentIdtemp = "<%= @assignment.id %>"; 

      function toggleTree() {
        document.getElementById('fileTreeContainer').classList.toggle('hidden');
      }

      function toggleFolder(element) {
        const childrenContainer = element.parentNode.querySelector('.children-container');
        if (childrenContainer) {
          childrenContainer.classList.toggle('hidden');
          element.classList.toggle('expanded');
        }
      }

      function openFileUpload(element, path) {
        document.getElementById('fileUploadInput').dataset.uploadPath = path;
        document.getElementById('fileUploadInput').click();
      }

      function uploadFile(input) {
              const file = input.files[0];
              const path = input.dataset.uploadPath;

              if (file) {
                  const formData = new FormData();
                

                  const reader = new FileReader();
                  reader.readAsArrayBuffer(file);
                  
                  reader.onload = function () {
                      const binary = reader.result;

                      formData.append('file', new Blob([binary]), file.name); 
                      formData.append('path', path);
                      
                      fetch(`/assignments/${assignmentIdtemp}/upload_file`, {
                          method: 'POST',
                          body: formData,
                          headers: {
                              'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                          }
                      })
                      .then(response => response.json())
                      .then(data => {
                          if (data.success) {
                              alert('File uploaded successfully!');
                              location.reload();
                          } else {
                              alert(`File upload failed: ${data.error}`);
                          }
                      })
                      .catch(error => {
                          console.error('Error uploading file:', error);
                          alert('File upload failed due to a network error.');
                      });
                  };
              }
      }
      
    </script>