/* Container with scrollable behavior */
.scrollable-container {
    width: 300px;
    height: 400px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f9f9f9;
  }

  .test-grouping-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .test-card {
    cursor: pointer;
    font-weight: bold;
    display: block;
    padding: 10px 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
  }

  .test-card:hover {
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .test-grouping-card {
    cursor: pointer;
    font-weight: bold;
    display: block;
    padding: 5px 10px;
    background-color: #e3e3e3;
    border-radius: 4px;
    margin-bottom: 10px;
    position: relative;
  }

  .test-grouping-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .test-grouping-item {
    margin-bottom: 10px;
    padding: 10px;
  }

  .test-list {
    margin-top: 10px;
    padding-left: 15px;
    display: none;
  }

  .text-link {
    color: inherit;
    text-decoration: none;
  }

  .test-list.visible {
    display: block;
  }

  .test-card {
    padding: 5px;
    margin: 5px 0;
    cursor: pointer;
  }

  /* .grouping-title::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
  } */

  /* Link styling */
  .test-link {
    text-decoration: none;
    color: inherit;
  }

  /* Flexbox styling for test bar */
  .test-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: #f5f5f5;
    border-radius: 4px;
  }

  /* Minor spacing adjustments for test details */
  .test-name, .test-points, .test-type {
    margin: 0 5px;
  }

  .new-test-grouping-form .form-group {
    margin-right: 10px;
    padding: 5px;
  }

  .new-test-grouping-form button span {
    width: 10px;
    height: 10px;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .plus-button {
    font-size: 18px;
    margin: 0;
  }

  .delete-button {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .delete-button:hover {
    background-color: rgb(172, 172, 172);
    border-radius: 4px;
  }

  .delete-button:active {
    background-color: transparent;
  }

  .delete-button:focus {
    background-color: transparent;
  }

  .button_to {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
.wrapper {
  width: 100%; 
  max-width: 1000px; 
  text-align: center; 
  margin: 0 auto; 
}


.text-container {
  margin-bottom: 30px; 
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 10px; }

h1 {
  color: #2c3e50;
  margin-bottom: 20px;
  font-size: 2.5em;
}

p {
  margin: 0 0 15px;
  font-size: 1.1em;
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

button, .button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

button:hover, button:focus, .button:hover, .button:focus {
  background-color: #2980b9;
  outline: none;
}

@media screen and (max-width: 600px) {
  

  h1 {
      font-size: 2em;
  }

  p {
      font-size: 1em;
  }

  button, .button {
      padding: 8px 16px;
      font-size: 0.9em;
  }
}
/* Wrapper around the search input and the clear button */
.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    border: none;
    margin: auto;
}

.search-input-wrapper {
    display: flex;             /* Use flexbox for horizontal layout */
    align-items: center;      /* Center align items vertically */
    max-width: 400px;
    border: none;  /* Add border around the entire input area */
    border-radius: 5px;       /* Rounded corners */
    padding: 2px;             /* Padding inside the wrapper */
    margin-bottom: 30px;
}

/* Styling for the input field */
.search-input {
    flex-grow: 1;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px 8px 8px 8px;
    outline: none;
    font-size: 16px;
}

/* Styling for the clear button */
.clear-button {
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
    outline: none;
    margin-right: 8px;
    margin-left: -50px; /* Adjust to bring the cross button inside */
    color: black;
}

/* Styling for the search button */
.search-button {
    padding: 10px 15px;
    margin-left: 30px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.search-button:hover {
    background-color: green;
}
app/assets/stylesheets/user_show.css


  
  .users-show h1 {
    color: #2c3e50;
    margin-bottom: 30px;
    font-size: 2.5em;
    text-align: center;
  }
  
  .users-show form {
    margin-bottom: 20px;
  }
  
  .users-show ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .users-show li {
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
  }
  
  .users-show li:last-child {
    border-bottom: none;
  }
  
  .users-show li:nth-child(even) {
    background-color: #f8f8f8;
  }
  
  .users-show li:hover {
    background-color: #e8e8e8;
  }
  
  .users-show input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
  }
  
  .users-show label {
    font-size: 1.1em;
    cursor: pointer;
    flex-grow: 1;
  }
  
  .users-show input[type="submit"] {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  .users-show input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #27ae60;
  }

  .users-show table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
  }

  .users-show table th, table td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }

  .users-show table th {
      background-color: #f2f2f2;
      position: relative;
      padding-right: 200px;
  }

  .users-show table tr:nth-child(even) {
      background-color: #f9f9f9;
  }

  .users-show .small-button {
    font-size: 12px;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 15px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .users-show small-button:hover {
    opacity: 0.8;
  }

  .users-show #select-all-read {
    background-color: #007bff;
  }

  .users-show #revoke-all-read {
    background-color: #dc3545;
  }

  .users-show #select-all-write {
    background-color: #007bff;
  }

  .users-show #revoke-all-write {
    background-color: #dc3545;
  }

  .users-show .button-group {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 5px; 
  }
  
  
  @media screen and (max-width: 768px) {
    
  
    .users-show h1 {
      font-size: 2em;
    }
  
    .users-show li {
      padding: 12px 15px;
    }
  
    .users-show label {
      font-size: 1em;
    }

  }
/* app/assets/stylesheets/users.css */


  
  .users-index h1 {
    color: #2c3e50;
    margin-bottom: 30px;
    font-size: 2.5em;
    text-align: center;
  }
  
  .users-index ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .users-index li {
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
  }
  
  .users-index li:last-child {
    border-bottom: none;
  }
  
  .users-index li:nth-child(even) {
    background-color: #f8f8f8;
  }
  
  .users-index li:hover {
    background-color: #e8e8e8;
  }
  
  .users-index a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    display: block;
  }
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
 
 .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.assignment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    text-align: center;
  }
  
  .assignment-container h1 {
    margin-bottom: 20px;
  }
  
  .assignment-container form {
    width: 100%;
    max-width: 400px;
  }
  
  .assignment-container .btn {
    margin-top: 20px;
  }
  
/* Styles for the form and submit button */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 15px;
    width: 100%;
    max-width: 400px;
  }
  
  input.form-control {
    border-radius: 50px;
    padding: 10px;
    font-size: 1.1rem;
    text-align: center;
  }
  
  input::placeholder {
    color: #999;
    text-align: center;
  }
  
  .btn-block {
    width: 100%;
    max-width: 200px;
    border-radius: 50px;
    padding: 10px;
    font-size: 1.1rem;
  }
  
  /* New CSS for back button positioning */
  .back-button-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  .back-btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  .container {
    position: relative;
  }
  
  .assignments-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
  }
  
  .assignments-wrapper h1 {
    margin-bottom: 20px;
  }
  
  .assignment-item {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
  }
  
  .assignment-item p {
    margin-bottom: 10px;
  }
  
  .assignment-item .btn {
    margin-top: 10px;
  }
  
  .create-assignment-btn {
    margin-top: 30px;
    align-items: center;
  }
  
  /* General form styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 15px;
    width: 100%;
  }
  
  /* Style for input fields */
  input[type="text"],
  input[type="number"],
  textarea,
  select {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
  }
  
  input[type="text"]:focus,
  input[type="number"]:focus,
  textarea:focus,
  select:focus {
    outline: none;
    border-color: #3498db;
  }
  
  /* Style for dropdown */
  select {
    border: 2px solid #3498db;
    background-color: #ffffff;
    padding-right: 30px;
    border-radius: 50px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px;
}

  
  /* Style for checkbox */
  input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 10px;
  }
  
  /* Style for labels */
  label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    text-align: left;
    width: 100%;
    max-width: 400px;
  }
  
  /* Custom button style */
  button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease;
  }
  
  button:hover,
  button:focus {
    background-color: #2980b9;
    outline: none;
  }

  body {
    padding-top: 20px;
  }
  

  /* Edit button styling */
.edit-btn {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  color: #fff;
  background-color: #3498db; 
  border: none;
  border-radius: 20px; 
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #2980b9; 
  transform: scale(1.05); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Pencil Icon for Edit Button */
.edit-btn::before {
  content: "\270E"; /* Pencil icon */
  margin-right: 5px;
  font-size: 16px;
}

.assignment-page {
  padding-top: 20px;
}

.assignment-page h1 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
  padding-top: 180px
}

body.assignment-show-page {
  padding-top: 500px;
}


.assignments-table {
  width: 100%;
  border-collapse: collapse;
}

.assignments-table th, .assignments-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.assignments-table th {
  background-color: #3498db;
  color: white;
  cursor: pointer;
}

.assignments-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.assignments-table tr:hover {
  background-color: #ddd;
}

.assignments-table th:hover {
  background-color: #2980b9;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.assignments-table-container {
  width: 80%; /* Adjust as necessary */
  margin-bottom: 20px;
}

.create-assignment-btn {
  margin-top: 20px;
}

.button-container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  gap: 10px; /* Add space between the buttons */
  margin-top: 20px; /* Add some space above the buttons */
}

.btn {
  margin-right: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the form elements */
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}
