<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <%= stylesheet_link_tag 'home', media: 'all' %>
</head>
<body>
  <<h1>Welcome to Our Awesome App!</h1>

  <p>This app does amazing things with GitHub! To get started:</p>

  <% if current_user %>
    <p>You are already logged in as <%= current_user.name %>!</p>
  <% else %>
    <%= form_tag('/auth/github', method: 'post', data: {turbo: false}) do %> 
      <button type="submit">Login With GitHub</button> 
    <% end %>
  <% end %>
</body>
</html>
