/* Container to match table's full width */
.search-bar-container {
    width: 80%; /* Ensure it spans full width of its parent */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin: 20px auto;
}

.search-input-wrapper {
    display: flex;
    align-items: center;
    width: 100%; /* Full width of parent container */
    padding: 2px;
    margin-bottom: 30px;
    position: relative;
}

/* Styling for the input field to expand fully */
.search-input {
    flex-grow: 1;
    width: 100%; /* Full width within the wrapper */
    padding: 10px 40px 10px 10px;
    border: 2px solid black;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    text-align: left; /* Ensures text starts from the left */
    direction: ltr; /* Sets left-to-right typing direction */
    unicode-bidi: plaintext; 
}

/* Styling for the clear button */
.clear-button {
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
    outline: none;
    color: black;
    right: 200px;
    top: 7px;
    position: absolute
}

/* Styling for the search button */
.search-button {
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.search-button:hover {
    background-color: green;
}
