<div class="form-group mb-3">
  <label>Compile Path</label>
  <div id="compile-file-container">
    <input type="text"
            id = "test_block_compile_paths" 
            name="test[test_block][file_paths][]" 
            class="form-control mb-2" 
            placeholder="Enter Compile Path"
            value="<%= test&.test_block&.dig('file_paths').to_json || '[]'  %>">
    <div id="compile-file-tree-dropdown" class="dropdown-content" style="display: none;">
    <!-- Tree will be rendered here -->
    </div>
  </div>
</div>
