<div class="form-group mb-3">
  <label for="main_path">Main Path</label>
  <input type="text" 
         id="test_block_main_path" 
         name="test[test_block][main_path]" 
         class="form-control" 
         placeholder="Enter Main Path" 
         value="<%= test&.test_block&.dig('main_path') %>">
  <div id="main-path-file-tree-dropdown" class="dropdown-content" style="display: none;">
    <!-- Tree will be rendered here -->
  </div>
</div>

<div class="form-group mb-3">
  <label for="source_paths">Source Paths</label>
    <input type="text"
            id="test_block_source_paths"  
            name="test[test_block][source_paths][]" 
            class="form-control mb-2" 
            placeholder="Enter Source Path"
            value="<%= (test&.test_block&.dig('source_paths') || []).map { |file_path| file_path }.join(', ') %>">
    <div id="source-path-file-tree-dropdown" class="dropdown-content" style="display: none;">
    <!-- Tree will be rendered here -->
    </div>
  </div>
</div>


