<div class="form-group mb-3">
  <label>Memory Errors Path</label>
  <div id="memory-errors-container">
    <input type="text"
            id = "test_block_mem_error_paths" 
            name="test[test_block][file_paths][]" 
            class="form-control mb-2" 
            placeholder="Enter Memory Errors Path"
            value="<%= (test&.test_block&.dig('source_paths') || []).to_json || '[]' %>">
    <div id="mem-error-file-tree-dropdown" class="dropdown-content" style="display: none;">
      <!-- Tree will be rendered here -->
    </div>
  </div>
</div>